ol,
ul,
menu {
    list-style: none;
    margin: 0;
    padding: 0;
}

/* ===== Scrollbar CSS ===== */

*::-webkit-scrollbar {
    width: 11px;
}

*::-webkit-scrollbar-track {
    background: transparent;
}

*::-webkit-scrollbar-thumb {
    background-color: var(--gray-700);
    border-radius: 20px;
    border: 3px solid transparent;
}